<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href=""/>
      <meta name="robots" content="index, follow" >
      <title>About Us - Grownotch</title>
      <meta name="description" content=""/>
      <meta name="keywords" content=""/>
      <link rel="canonical" href="https://grownotch.com/aboutus.html"/>
      
      <link rel="stylesheet" href="../static/css/home/bootstrap-min.css">
      <script src="../static/css/home/bootstrap-jquery-index.js"></script>
      <script src="../static/css/home/bootstrap-min.js"></script>
        <link rel="stylesheet" href="../static/css/home/font-aswesome.css">
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/css/mediascreen.css">
      <script src="../static/js/animations-new.js"></script>
      <link href="../static/css/home/font.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">
                  <img class="header_logo" src="../static/image/grownotch.svg">
               </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav left-side">
                  <li><a href="index.html">Home</a></li>
                  <li><a class="active" href="aboutus.html">About Us</a></li>
                  <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li class="drop_list"><a class="drop_link" href="digital-marketing.html">Digital Marketing</a></li>
                        <li class="drop_list"><a class="drop_link" href="search-engine-optimization.html">Search Engine Optimization</a></li>
                        <li class="drop_list"><a class="drop_link" href="local-seo.html">Local SEO</a></li>
                        <li class="drop_list"><a class="drop_link" href="content-writing.html">Content Writing</a></li>
                        <li class="drop_list"><a class="drop_link" href="online-reputation-management.html">ORM</a></li>
                        <li class="drop_list"><a class="drop_link" href="web-design.html">Web Design</a></li>
                        <li class="drop_list"><a class="drop_link" href="social-media-marketing.html">SMM</a></li>
                        <li class="drop_list"><a class="drop_link" href="pay-per-click-marketing.html">PPC Marketing</a></li>
                     </ul>
                  </li>
                  <li><a href="testmonials.html">Testimonials</a></li>
                  <li><a href="contactus.html">Contact Us</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li class="number_list">
                     <a class="num_linkz" href="tel:+919003610066">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        <div class="right-phone"> Ask me 1 question <span class="top_number"> +91 90036 10066</span> </div>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="container-fluid local_seo">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h2 class="local_seo_banner_hd">About Us</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid digital_growth">
         <div class="row">
            <div class="container">
               <div class="row desk">
                  <div class="col-md-6">
                     <div class="digital_growth_image">
                        <img class="digital_growth_img" src="../static/image/aboutus/Looking-for-professional-growth.webp" alt="Grownotch">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="digital_growth_cnt">
                        <h1 class="digital_growth_head fade-in-down">Looking for <br> <span class="colored"> Professional Growth? </span></h1>
                        <p class="digital_growth_para">We are constantly looking for driven digital marketing professionals to be part of our growing team.</p>
                     </div>
                  </div>
               </div>
               <div class="row mob">
                  <div class="col-md-6">
                     <div class="digital_growth_cnt">
                        <h1 class="digital_growth_head fade-in-down">Looking for <br> <span class="colored"> Professional Growth? </span></h1>
                        <p class="digital_growth_para">We are constantly looking for driven digital marketing professionals to be part of our growing team.</p>
                   </div>
                  </div>
                  <div class="col-md-6">
                     <div class="digital_growth_image">
                        <img class="digital_growth_img" src="../static/image/aboutus/Looking-for-professional-growth.webp" alt="Grownotch">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid vision">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="vision_cnt">
                        <h2 class="vision_head fade-in-down">We are Digital Marketing  <br> <span class="colored"> Experts </span></h2>
                        <p class="vision_para">Grownotch, Chennai a potpourri of bubbling talents with diverse portfolios, all coming together as a strong team of contenders. We work together in unison to help your business soar up in the vast sky of search results. Our team comprises astute management experts, creative web designers, insightful digital strategists and multitalented multimedia specialists. With Grownotch as your digital partner, your business blooms higher and higher!</p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="vision_image">
                        <img class="vison_img" src="../static/image/aboutus/We-are-Digital-Marketing.webp" alt="Grownotch" >
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid mission">
         <div class="row">
            <div class="container">
               <div class="row desk">
                  <div class="col-md-6">
                     <div class="mission_image">
                        <img class="mission_img" src="../static/image/aboutus/That's-how-it.webp" alt="Grownotch">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="mission_cnt">
                        <h2 class="mission_head fade-in-down">That's how it <br> <span class="colored">happened</span></h2>
                        <p class="mission_para">Grownotch was the idea of a group of SEO enthusiasts who wanted to provide a single-point combined, personalized solution that handled all parts of SEO, from concept creation to analytical reporting, without detaching one service from the other.</p>
                        <p class="mission_para">As independent individuals with prior experience and expertise in their respective digital marketing fields in Chennai, their ideas' amalgamation gave birth to Grownotch.</p>
                     </div>
                  </div>
               </div>
               <div class="row mob">
                  <div class="col-md-6">
                     <div class="mission_cnt">
                        <h2 class="mission_head fade-in-down">That's how it <br> <span class="colored">happened</span></h2>
                        <p class="mission_para">Grownotch was the idea of a group of SEO enthusiasts who wanted to provide a single-point combined, personalized solution that handled all parts of SEO, from concept creation to analytical reporting, without detaching one service from the other.</p>
                        <p class="mission_para">As independent individuals with prior experience and expertise in their respective digital marketing fields in Chennai, their ideas' amalgamation gave birth to Grownotch.</p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="mission_image">
                        <img class="mission_img" src="../static/image/aboutus/MISSION-01.webp" alt="Grownotch">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid proposition">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <h2 class="proposition_head fade-in-down">Grownotch Core  <br> <span class="colored">Values</span></h2>
                     <p class="proposition_para">Grownotch SEO Company was established based on a series of core values and principles upon which we offer our services today. </p>
                     <p>Our purpose is to deliver the following to every customer : </p>
                  </div>
                  <div class="col-md-6">
                     <ul class="proposition_order">
                        <li class="proposition_list">A complete suite of consulting and robust digital marketing services</li>
                        <li class="proposition_list">A bespoke solution designed to meet individual needs and budget</li>
                        <li class="proposition_list">Unbeatable value for money and solid potential ROI</li>
                        <li class="proposition_list">Independent, objective and impartial advice at all times</li>
                        <li class="proposition_list">Constant communication at every stage of the project</li>
                        <li class="proposition_list">An opportunity to build a long-term partnership with our brand</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid project_call">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <h3 class="project_call_head">Have a project for us? <span class="project_call_clr"> Call us now! </span></h3>
                  </div>
                  <div class="col-md-6">
                     <div class="project_call_btn">
                        <a class="project_call_link" href="tel:+919003610066"><i class="fa fa-phone call_icon"></i>+91 90036 10066</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <div class="container-fluid footer">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <img class="header_logo" src="../static/image/grownotch.svg">
                     <p></p>
                     <p class="footer_para">Grownotch Digital Marketing Company provides modern and effective SEO and Web Development services in Chennai, India. We are a reputable company for SEO services in Chennai and believe in providing quality SEO services.</p>
                  </div>
                  <div class="col-md-3">
                     <h3 class="footer_hd">Services</h3>
                     <ul class="footer_order">
                        <li class="footer_list"><a class="footer_list_link" href="digital-marketing.html">Digital Marketing Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="search-engine-optimization.html">Search Engine Optimization</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="local-seo.html">Local SEO Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="content-writing.html">Content Writing Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="online-reputation-management.html">ORM Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="web-design.html">Web Design Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="social-media-marketing.html">SMM Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="pay-per-click-marketing.html">PPC Marketing</a></li>
                     </ul>
                  </div>
                  <div class="col-md-3 ft3">
                     <h3 class="footer_hd">Resources</h3>
                     <ul class="footer_order">
                        <li class="footer_list"><a class="footer_list_link" href="index.html">Home</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="aboutus.html">About Us</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="testmonials.html">Testimonials</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="contactus.html">Contact Us</a></li>
                     </ul>
                  </div>                  
                  <div class="col-md-3 ft4">
                     <h3 class="footer_hd">Reach Us</h3>
                     <p class="footer_reach"><i class="fa fa-map-marker ft_icon"></i>Chennai, Tamilnadu, India.</p>
                     <p class="footer_reach"><a class="ft_numbers" href="tel:+919003610066"><i class="fa fa-phone ft_icon"></i>+91 90036 10066</a></p>
                     <p class="footer_reach"><a class="ft_mail" href="mailto:info@grownotch.com"><i class="fa fa-envelope-o ft_icon"></i>info@grownotch.com</a></p>
                  </div>
               </div>
            </div>
            <div class="container footer2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="copy_weblogicks">
                        <p class="copys_para">
                           Copyright © <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>. All Rights Reserved By <a href="https://grownotch.com/">Grownotch.com</a>
                        </p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="ft_social">
                        <ul class="footer_social">
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.facebook.com/Grownotch" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://twitter.com/grownotch" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.instagram.com/grownotch/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://in.pinterest.com/grownotch/_saved/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.reddit.com/user/Grownotch" target="_blank"><i class="fa fa-reddit"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://linkedin.com/company/grownotch" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="sticky1"><a data-google-event-name="grownotch" data-facebook-event-name="grownotch" target="_blank" title="Contact Us On WhatsApp" href="https://api.whatsapp.com/send?phone=+919003610066&text=Hi,%20i%20saw%20your%20website(www.grownotch.com),%20I%20would%20like%20know%20more%20information%20about%20your%20service." class="wc2c-wrap wc2c-floating-circle-right" style="background-color:#2DC100">
         <i class="fa fa-whatsapp whatsappimg" aria-hidden="true"></i></a>
      </div>
      <div class="cp-widget-button">
         <div data-brand-color="background" class="cp-widget-button__inner">
            <a href="tel:+919003610066"><i class="fa fa-phone strickes"></i></a>
         </div>
      </div>
      <script>
         //Change pos/background/padding/add shadow on nav when scroll event happens 
         $(function(){
         	var navbar = $('.navbar');
         	
         	$(window).scroll(function(){
         		if($(window).scrollTop() <= 40){
         			navbar.removeClass('navbar-scroll');
         		} else {
         			navbar.addClass('navbar-scroll');
         		}
         	});
         });
         
                 
      </script>
   </body>
</html>