<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href=""/>
      <meta name="robots" content="index, follow" >
      <title>SEO Freelancer in Chennai - Grownotch</title>
      <meta name="description" content=""/>
      <meta name="keywords" content=""/>
      <link rel="canonical" href="https://grownotch.com/"/>
      <link rel="stylesheet" href="../static/css/home/bootstrap-min.css">
      <script src="../static/css/home/bootstrap-jquery-index.js"></script>
      <script src="../static/css/home/bootstrap-min.js"></script>
      <link rel="stylesheet" href="../static/css/home/font-aswesome.css">
      <link rel="stylesheet" href="../static/css/home/style.css">
      <link rel="stylesheet" href="../static/css/home/mediascreen.css">
      <script src="../static/js/animations-new.js"></script>
      <link href="../static/css/home/font.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">
                  <img class="header_logo" src="../static/image/grownotch.svg">
               </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav left-side">
                  <li><a class="active" href="index.html">Home</a></li>
                  <li><a href="aboutus.html">About Us</a></li>
                  <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li class="drop_list"><a class="drop_link" href="digital-marketing.html">Digital Marketing</a></li>
                        <li class="drop_list"><a class="drop_link" href="search-engine-optimization.html">Search Engine Optimization</a></li>
                        <li class="drop_list"><a class="drop_link" href="local-seo.html">Local SEO</a></li>
                        <li class="drop_list"><a class="drop_link" href="content-writing.html">Content Writing</a></li>
                        <li class="drop_list"><a class="drop_link" href="online-reputation-management.html">ORM</a></li>
                        <li class="drop_list"><a class="drop_link" href="web-design.html">Web Design</a></li>
                        <li class="drop_list"><a class="drop_link" href="social-media-marketing.html">SMM</a></li>
                        <li class="drop_list"><a class="drop_link" href="pay-per-click-marketing.html">PPC Marketing</a></li>
                     </ul>
                  </li>
                  <li><a href="testmonials.html">Testimonials</a></li>
                  <li><a href="contactus.html">Contact Us</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li class="number_list">
                     <a class="num_linkz" href="tel:+919003610066">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        <div class="right-phone"> Ask me 1 question <span class="top_number"> +91 90036 10066</span> </div>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>

      <div class="container-fluid help">
         <div class="row">
            <div class="col-md-5">
               <h2 class="helpfrm_heading">Hire With the Best Freelancer SEO Expert  <br></h2>
               <div class="home_form help">
               
                  <form method="post" enctype="multipart/form-data">{% csrf_token %}
                     <ul class="form_under">
                        <div class="row">
                           <div class="col-md-6">
                        <li class="form_list help left">
                           <div class="form_inputs">
                              <input class="form-control" type="text" placeholder="Name" name="name" autocomplete="off" required="">
                           </div>
                        </li>
                        </div>

                        <div class="col-md-6">
                        <li class="form_list help right">
                           <div class="form_inputs">
                              <input class="form-control" type="number" placeholder="Contact Number" name="phone" autocomplete="off" required="">
                           </div>
                        </li>
                        </div>
                        </div>
                        <li class="form_list help">
                           <div class="form_inputs">
                              <input class="form-control" type="email" placeholder="Email Address" name="email" autocomplete="off" required="">
                           </div>
                        </li>
                        <h5 class="what_need">What do you need?</h5>
                        <div class="w-layout-grid form-grid-thirds">
                           <div>
                              <div class="custom-control custom-checkbox mb-3">
                                 <input value="SEO" type="checkbox" class="custom-control-input" id="customCheck" name="check1">
                                 <label class="custom-control-label" for="customCheck">SEO</label>
                              </div>
                           </div>
                           <div>
                              <div class="custom-control custom-checkbox mb-3">
                                 <input value="Social media marketing" type="checkbox" class="custom-control-input" id="customCheck" name="check2">
                                 <label class="custom-control-label" for="customCheck">Social Media Marketing</label>
                              </div>
                           </div>
                           <div>
                              <div class="custom-control custom-checkbox mb-3">
                                 <input value="Google adwords" type="checkbox" class="custom-control-input" id="customCheck" name="check3">
                                 <label class="custom-control-label" for="customCheck">Google Adwords</label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                 <input value="Website" type="checkbox" class="custom-control-input" id="customCheck" name="check4">
                                 <label class="custom-control-label" for="customCheck">Website</label>
                              </div>
                           </div>
                        </div>
                     </ul>
                     <div class="text-center sub help">
                        <input type="submit" class="sub help" value="SUBMIT">
                     </div>
                  </form>
               </div>

            </div>

            <div class="col-md-7">
               <div class="row helpright">

                  <div class="col-md-6">
                     <h3 class="helpcare_head">Grownotch Services</h3>
                     <ul class="helcare_order">
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>Digital Marketing</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>Search Engine Optimization</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>Social Media Marketing</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>Content Writing</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>PPC Marketing</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>Web Design</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>Local SEO</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>ORM</li>
                     </ul>
                  </div>

                  <div class="col-md-6">
                     <div class="help_image">
                        <img class="helpimg" src="../static/image/home/banner.svg">
                     </div>
                  </div>

               </div>
            </div>

         </div>
      </div>

      <div class="container-fluid weare_best">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="invesment">
                        <h2 class="invesment_hd fade-in">WE ARE THE BEST SEO FREELANCER IN CHENNAI</h2>
                        <h3 class="award fade-in-down">Are you looking for reputable SEO services in Chennai with a proven track record? <br> You've come to the right place!</h3>
                        <p class="invesment">Contact us right away to realize the full potential of your website!</p>
                        <div class="invesment_btn flip-up">
                           <a class="invesment_link" href="contactus.html">GET STARTED TODAY!</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid optimization">
         <div class="row">
            <div class="col-md-6 hole">
               <div class="optimization_image">
                  <img class="optimization_img" src="../static/image/home/Search-Engine-Optimization.webp" alt="Grownotch">
               </div>
            </div>
            <div class="col-md-6 hole">
               <div class="optimization_content one">
                  <h3 class="optimization_hd fade-in-down">Search Engine Optimization</h3>
                  <p class="optimization_para">We are giving SEO services in Chennai. Grownotch is one of the top SEO companies in Chennai, India.</p>
                  <p class="optimization_para">Our SEO experts in Chennai use all innovative ideas to help our clients/business owners achieve their business goals.</p>
                  <p class="optimization_para">We have more than 5+ years of experience in digital marketing services. We provide a wide range of internet marketing services in Chennai.</p>
                  <p class="optimization_para">Only top-notch outcomes are delivered to our clients by our SEO experts. Grownotch is the top and best SEO Company in Chennai, having google certified SEO experts.</p>
                  <div class="optimization_btn  flip-up">
                     <a class="optimization_link" href="contactus.html">Get More Traffic</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="row desk">
            <div class="col-md-6 hole offset-xs-1">
               <div class="optimization_content">
                  <h3 class="optimization_hd fade-in-down">Web Design & Development Service</h3>
                  <p class="optimization_para">As a growing SEO Freelancer in Chennai, Grownotch.com provides web designing and development services to make a potent internet marketing tool for the client's business. Our expert web developers and designers collaborate to create rich and SEO-friendly web applications for clients.</p>
                  <div class="optimization_btn flip-up">
                     <a class="optimization_link" href="contactus.html">Get a Website</a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 hole order-first order-xs-2">
               <div class="optimization_image">
                  <img class="optimization_img" src="../static/image/home/Web-Design-&-Development-Service.webp" alt="Grownotch">
               </div>
            </div>
         </div>
         <div class="row mob">
            <div class="col-md-6 hole order-first order-xs-2">
               <div class="optimization_image">
                  <img class="optimization_img" src="../static/image/home/webdesign.webp" alt="Grownotch">
               </div>
            </div>
            <div class="col-md-6 hole offset-xs-1">
               <div class="optimization_content">
                  <h3 class="optimization_hd fade-in-down">Web Design & Development</h3>
                  <p class="optimization_para">You can modernize elements of your website or build one from scratch using our fully optimized web design solutions.</p>
                  <div class="optimization_btn flip-up">
                     <a class="optimization_link" href="contactus.html">Get More Traffic</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid seo_icon">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h3 class="testmonials_hd fade-in" style="opacity: 1; visibility: visible;">HOW GROWNOTCH SEO AGENCY CHENNAI DOES HELP YOU GROW YOUR BUSINESS THROUGH SEO?</h3>
                     <p class="invesment">Our daily dedication to incrementally enhancing services sets Grownotch apart from other SEO firms. Choosing us means getting benefits from the leading SEO Company in Chennai that knows what you want to achieve and who cares about your clients.</p>
                  </div>
                  <div class="col-md-3">
                     <div class="card">
                        <div class="seo_icons flip-up">
                           <img class="card-img-top" src="../static/image/home/SEO_Icon1.webp" alt="Grownotch">
                        </div>
                        <div class="card-body">
                           <h4 class="card-title">Improved Ranking</h4>
                           <p class="card-text">We use our expertise of two decades to move your website up the search engine ladder to drive more traffic.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="card">
                        <div class="seo_icons flip-up">
                           <img class="card-img-top" src="../static/image/home/seo_icon2.webp" alt="Grownotch">
                        </div>
                        <div class="card-body">
                           <h4 class="card-title">Relevant Traffic</h4>
                           <p class="card-text">We select the keywords your potential clients are using to look for businesses like yours, so you get the relevant traffic.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="card">
                        <div class="seo_icons">
                           <img class="card-img-top flip-up" src="../static/image/home/seo_icon3.webp" alt="Grownotch">
                        </div>
                        <div class="card-body">
                           <h4 class="card-title">More Leads
                           </h4>
                           <p class="card-text">When your business is found out by the people looking for your services, it ensures your website generates more qualified leads.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="card">
                        <div class="seo_icons">
                           <img class="card-img-top flip-up" src="../static/image/home/seo_icon4.webp" alt="Grownotch">
                        </div>
                        <div class="card-body">
                           <h4 class="card-title">Increased ROI</h4>
                           <p class="card-text">A business exists to generate revenue. Relevant traffic leads to a higher number of leads, resulting in increased ROI for your business.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid reviews_sec">
         <div class="row">
            <main class="main">
               <section class="container testmo_review">
                  <h3 class="testmonials_hd fade-in">OUR CLIENT'S TESTIMONIALS</h3>
                  <article class="review">
                     <div class="img-container">
                        <img src="../static/image/home/review.webp" alt="Grownotch" id="person-img" />
                     </div>
                     <h4 id="author">sara jones</h4>
                     <p id="job">ux designer</p>
                     <p id="info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                        asperiores debitis incidunt, eius earum ipsam cupiditate libero?
                        Iste, doloremque nihil?
                     </p>
                     <!-- prev next buttons-->
                     <div class="button-container">
                        <button class="prev-btn btn">
                        <i class="fa fa-arrow-left review_icon"></i>
                        </button>
                        <button class="next-btn btn">
                        <i class="fa fa-arrow-right review_icon"></i>
                        </button>
                     </div>
                  </article>
               </section>
            </main>
         </div>
      </div>
      <script src="../static/js/reviews.js"></script>
      <div class="container-fluid faq_frm">
         <div class="row">
            <div class="container">
               <div class="row">
                  <h3 class="faq_hd fade-in">FAQ</h3>
                  <div class="col-md-12">
                     <div class="faq" id="accordion">
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-1">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                    <span class="badge">1</span>What Type of Services Do You Provide?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                              <div class="card-body">
                                 <p>Stay current with market trends and get better rankings to improve your ROI with targeted SEO strategies. A reputable SEO company providing outcomes in SEM, SEO, and other digital marketing fields. </p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-2">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                    <span class="badge">2</span> Why Should I Outsource My Digital Marketing?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                              <div class="card-body">
                                 <p>Digital marketing is a vast field to get the desired results, and you need an excellent team of experts to execute your digital marketing. We at Grownotch have an in-house team of experts specializing in their respective fields that deliver results and help your business grow.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-3">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                    <span class="badge">3</span>How Much Do Websites Cost?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                              <div class="card-body">
                                 <p>We love this question. This is our first question. Unlike other companies, we don't have to treat you differently if you have more money or make more money than others. We treat every customer the same regardless of their position or company. That's why we're the only company at our level that offers prices for the most common web design, web development, and online marketing creations. We have nothing to hide as we know our prices are fair and affordable compared to apple. The best way to see how much your website might cost is to talk to us.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-4">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                    <span class="badge">4</span> Who Needs SEO Services?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                              <div class="card-body">
                                 <p>Any business looking for online visibility to increase their sales and expand their business should avail of SEO services and other digital marketing services.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-5">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                    <span class="badge">5</span> How is Grownotch Different From Other SEO Companies in Bangalore?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                              <div class="card-body">
                                 <p>Grownotch is the best SEO Freelancer in Chennai among the top SEO companies in Bangalore because it promises client satisfaction and the flawless services it provides. As every search engine is regularly updated, Grownotch ensures that its customers stay caught up in the race as they examine and update their work according to industry standards and requirements. With the rapid evolution in search engine algorithms, Grownotch design and strategy are based on unique practices, transparent processes, and efficient innovation that consistently delivers the maximum value required. </p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-6">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="false" data-aria-controls="faqCollapse-6">
                                    <span class="badge">6</span>Is SEO Good for Websites?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
                              <div class="card-body">
                                 <p>Today, SEO is an essential part of any marketing plan. To answer the question, a marketing strategy. So, to answer the query part of any marketing strategy. So, to answer the question, "What is SEO in Marketing?" It is the finest strategy to increase your online presence and connect with customers who are looking for information, to put it simply.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-7">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                                    <span class="badge">7</span> Why Should I Perform SEO on My Website?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
                              <div class="card-body">
                                 <p>This will help you increase your credibility, get more traffic and improve your online visibility. And you'll achieve those results without spending a cent on ad space. Beyond that, SEO is a great way to enhance your target audience's overall experience with your brand.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container-fluid footer">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <img class="header_logo" src="../static/image/grownotch.svg">
                     <p></p>
                     <p class="footer_para">Grownotch Digital Marketing Company provides modern and effective SEO and Web Development services in Chennai, India. We are a reputable company for SEO services in Chennai and believe in providing quality SEO services.</p>
                  </div>
                  <div class="col-md-3">
                     <h3 class="footer_hd">Services</h3>
                     <ul class="footer_order">
                        <li class="footer_list"><a class="footer_list_link" href="digital-marketing.html">Digital Marketing Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="search-engine-optimization.html">Search Engine Optimization</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="local-seo.html">Local SEO Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="content-writing.html">Content Writing Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="online-reputation-management.html">ORM Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="web-design.html">Web Design Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="social-media-marketing.html">SMM Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="pay-per-click-marketing.html">PPC Marketing</a></li>
                     </ul>
                  </div>
                  <div class="col-md-3 ft3">
                     <h3 class="footer_hd">Resources</h3>
                     <ul class="footer_order">
                        <li class="footer_list"><a class="footer_list_link" href="index.html">Home</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="aboutus.html">About Us</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="testmonials.html">Testimonials</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="contactus.html">Contact Us</a></li>
                     </ul>
                  </div>
                  <div class="col-md-3 ft4">
                     <h3 class="footer_hd">Reach Us</h3>
                     <p class="footer_reach"><i class="fa fa-map-marker ft_icon"></i>Chennai, Tamilnadu, India.</p>
                     <p class="footer_reach"><a class="ft_numbers" href="tel:+919003610066"><i class="fa fa-phone ft_icon"></i>+91 90036 10066</a></p>
                     <p class="footer_reach"><a class="ft_mail" href="mailto:info@grownotch.com"><i class="fa fa-envelope-o ft_icon"></i>info@grownotch.com</a></p>
                  </div>
               </div>
            </div>
            <div class="container footer2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="copy_weblogicks">
                        <p class="copys_para">
                           Copyright © <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>. All Rights Reserved By <a href="https://grownotch.com/">Grownotch.com</a>
                        </p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="ft_social">
                        <ul class="footer_social">
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.facebook.com/Grownotch" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://twitter.com/grownotch" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.instagram.com/grownotch/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://in.pinterest.com/grownotch/_saved/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.reddit.com/user/Grownotch" target="_blank"><i class="fa fa-reddit"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://linkedin.com/company/grownotch" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="sticky1"><a data-google-event-name="grownotch" data-facebook-event-name="grownotch" target="_blank" title="Contact Us On WhatsApp" href="https://api.whatsapp.com/send?phone=+919003610066&text=Hi,%20i%20saw%20your%20website(www.grownotch.com),%20I%20would%20like%20know%20more%20information%20about%20your%20service." class="wc2c-wrap wc2c-floating-circle-right" style="background-color:#2DC100">
         <i class="fa fa-whatsapp whatsappimg" aria-hidden="true"></i></a>
      </div>
      <div class="cp-widget-button">
         <div data-brand-color="background" class="cp-widget-button__inner">
            <a href="tel:+919003610066"><i class="fa fa-phone strickes"></i></a>
         </div>
      </div>
      <script>
         //Change pos/background/padding/add shadow on nav when scroll event happens 
         $(function(){
         	var navbar = $('.navbar');
         	
         	$(window).scroll(function(){
         		if($(window).scrollTop() <= 40){
         			navbar.removeClass('navbar-scroll');
         		} else {
         			navbar.addClass('navbar-scroll');
         		}
         	});
         });
         
                 
      </script>
   </body>
</html>