<!DOCTYPE html>
<html lang="en">
   <head>  
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href=""/>
      <meta name="robots" content="index, follow" >
      <title>ORM - Grownotch</title>
      <meta name="description" content=""/>
      <meta name="keywords" content=""/>
      <link rel="canonical" href="https://grownotch.com/orm.html"/>
      
        <link rel="stylesheet" href="../static/css/home/bootstrap-min.css">
        <script src="../static/css/home/bootstrap-jquery-index.js"></script>
        <script src="../static/css/home/bootstrap-min.js"></script>
      <link rel="stylesheet" href="../static/css/home/font-aswesome.css">
      <link rel="stylesheet" href="../static/css/orm/style.css">
      <link rel="stylesheet" href="../static/css/orm/mediascreen.css">
      <script src="../static/js/animations-new.js"></script>
      <link href="../static/css/home/font.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">
                  <img class="header_logo" src="../static/image/grownotch.svg">
               </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav left-side">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="aboutus.html">About Us</a></li>
                  <li class="dropdown">
                     <a class="dropdown-toggle active" data-toggle="dropdown" href="#">Services
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li class="drop_list"><a class="drop_link" href="digital-marketing.html">Digital Marketing</a></li>
                        <li class="drop_list"><a class="drop_link" href="search-engine-optimization.html">Search Engine Optimization</a></li>
                        <li class="drop_list"><a class="drop_link" href="local-seo.html">Local SEO</a></li>
                        <li class="drop_list"><a class="drop_link" href="content-writing.html">Content Writing</a></li>
                        <li class="drop_list"><a class="drop_link" href="online-reputation-management.html">ORM</a></li>
                        <li class="drop_list"><a class="drop_link" href="web-design.html">Web Design</a></li>
                        <li class="drop_list"><a class="drop_link" href="social-media-marketing.html">SMM</a></li>
                        <li class="drop_list"><a class="drop_link" href="pay-per-click-marketing.html">PPC Marketing</a></li>
                     </ul>
                  </li>
                  <li><a href="testmonials.html">Testimonials</a></li>
                  <li><a href="contactus.html">Contact Us</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li class="number_list">
                     <a class="num_linkz" href="tel:+919003610066">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        <div class="right-phone"> Ask me 1 question <span class="top_number"> +91 90036 10066</span> </div>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="container-fluid local_seo">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h2 class="local_seo_banner_hd">Online Reputation Management Services</h2>
                     <p class="local_seo_banner_para">Protect your brand's image and reputation from malicious and unfounded attacks with Chennai's most advanced online reputation management. Discover the true power of positive PR and gain a competitive edge with the help of Grownotch.</p>
                     <div class="touch_btn">
                        <a class="touch_link" href="contactus.html">Get In Touch</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid represent">
         <div class="row">
            <div class="container">
               <div class="row">
                  <h1 class="represent_head fade-in-down">Powerful Online Reputation Management Services in Chennai</h1>
                  <div class="col-md-6">
                     <p class="represent_para">Has your online image changed for the worse? Are negative reviews and unfounded rumors harming your reputation? If so, take matters into your own hands as soon as possible.</p>
                     <p class="represent_para">These days, it doesn't take much for a once-impressive online reputation to suffer severe harm. A few negative reviews here, false accusations – are enough to make online visitors form a negative opinion of your brand. When this happens, you need the services of a reputation management team with over a decade of experience in the industry.</p>
                     <p class="represent_para">Whether looking to repair the damage caused by the inaccurate press or take your online reputation to the next level, you can count on Grownotch to make it happen.</p>
                  </div>
                  <div class="col-md-6">
                     <div class="represent_image">
                        <img class="represent_img" src="../static/image/orm/Online-Reputation-Management-Services.webp" alt="Grownotch">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid orm">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="orm_service_cnt">
                     <div class="orm_image">
                        <img class="orm_img" src="../static/image/orm/orm.webp" alt="Grownotch">
                     </div>
                     <h2 class="orm_heading fade-in-down">ORM Services: We Build and Defend your brand!</h2>
                  </div>
                  <div class="col-md-4">
                     <div class="navigating_main border">
                        <h3 class="navigating_head fade-in-down">Building Online Reputation</h3>
                        <p class="navigating_para">Grownotch helps you establish a flawless online reputation in a competitive environment. When people search for you, we make sure they find great stuff!</p>
                     </div>
                     <div class="navigating_main border">
                        <h3 class="navigating_head fade-in-down">Staying On Top Of Reviews</h3>
                        <p class="navigating_para">Positive reviews are essential. They are even more critical when your end users see them! That is why we are constantly in your thoughts.</p>
                     </div>
                     <div class="navigating_main border">
                        <h3 class="navigating_head fade-in-down">Reputation Management Services For All</h3>
                        <p class="navigating_para">Whether you are a conglomerate or a budding start-up, to us, everyone is the same – a brand that must be on top of its reputation.</p>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="navigating_main border">
                        <h3 class="navigating_head fade-in-down">Repairing Brand Reputation</h3>
                        <p class="navigating_para">Defamation, misinformation and negative reviews are common in this cut-throat world. We look forward to helping you improve your brand reputation online.</p>
                     </div>
                     <div class="navigating_main border">
                        <h3 class="navigating_head fade-in-down">An Eye On The Competition</h3>
                        <p class="navigating_para">You can only stay one step ahead when you monitor your competition. We ensure your success by keeping an eye on your rivals.</p>
                     </div>
                     <div class="navigating_main border">
                        <h3 class="navigating_head fade-in-down">Multi-Dimensional Reputation Campaigns</h3>
                        <p class="navigating_para">We improve your overall search results in addition to eliminating unfavorable search results. We are giving you better online visibility.</p>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="navigating_main">
                        <h3 class="navigating_head fade-in-down">Defending Online Sentiment</h3>
                        <p class="navigating_para">We diligently defend and enhance the online perceptions of your brand. This means that we start a progressive client acquisition programme for you!</p>
                     </div>
                     <div class="navigating_main">
                        <h3 class="navigating_head fade-in-down">Monitoring Your Social Buzz</h3>
                        <p class="navigating_para">We keep a keen eye on your communities and your mentions to promote a positive image in your target segment.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid development">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="development_image">
                        <img class="development_img" src="../static/image/orm/What-We-Do-We-Watch-Out-For-You.webp" alt="Grownotch">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <h3 class="development_heading fade-in-down">What We Do - We Watch Out For You</h3>
                     <ul class="helcare_order">
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>Assessing Your Reputation.</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>We evaluate your current brand reputation. Then protect it.</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>Identifying Your Channel.</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>We look for online media that works best for you. Then build your reputation on them.</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>Developing Your Strategy.</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>We brainstorm an intelligent strategy for your brand. Then implement it.</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>Monitor The Results.</li>
                        <li class="helpcare_list"><i class="fa fa-check-circle checkicon"></i>We measure the effectiveness of the strategy. Then tweak it as needed.</li>
                     </ul>
                  
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid local_listing">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h3 class="local_listing_head fade-in-down">ONLINE REPUTATION MANAGEMENT</h3>
                     <p class="local_listing_para">You are just one step away from ranking your website #1 on ORM listing</p>
                     <div class="local_list_form">
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                           <ul class="form_under">
                              <div class="row">
                                 <div class="col-md-3">
                                    <li class="form_list">
                                       <div class="form_inputs">
                                          <input class="form-control" type="text" placeholder="Name" name="name" autocomplete="off" required>
                                       </div>
                                    </li>
                                 </div>
                                 <div class="col-md-3">
                                    <li class="form_list">
                                       <div class="form_inputs">
                                          <input class="form-control" type="number" placeholder="Contact Number" name="phone" autocomplete="off" required>
                                       </div>
                                    </li>
                                 </div>
                                 <div class="col-md-3">
                                    <li class="form_list">
                                       <div class="form_inputs">
                                          <input class="form-control" type="email" placeholder="Email Address" name="email" autocomplete="off" required="">
                                       </div>
                                    </li>
                                 </div>
                                 <div class="col-md-3">
                                    <li class="form_list">
                                       <div class="form_inputs">
                                          <input class="form-control" type="text" placeholder="Website Link" name="website" autocomplete="off" required>
                                       </div>
                                    </li>
                                 </div>
                           </ul>
                           <div class="text-center sub local flip-up">
                           <input type="submit" class="sub_local" value="SUBMIT YOUR WEBSITE">
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid smart_tech">
         <div class="row">
            <div class="container">
               <div class="row">
                  <h3 class="smart_tech_head fade-in-down">All-purpose online reputation management services in Chennai</h3>
                  <p class="reputation_para">Strategic reputation management is more than just sitting back and waiting for things to tire out. Instead, it's an intensive process of searching the Internet for mentions of your brand — both positive and negative. After that, you can take the necessary steps to counter any negative press that could harm your reputation.
                     We create 100% bespoke solutions for every client we work with. Whatever your needs and budget, we can provide your business with a complete suite of reputation management services.</p>
                  <div class="col-md-4">
                     <div class="smart_tech_image">
                        <img class="smart_tech_img" src="../static/image/orm/smart-tech.webp" alt="Grownotch">
                     </div>
                  </div>
                  <div class="col-md-8">
                     <div class="smart_tech_cnt">
                        <ul class="smart_tech_order">
                           <li class="smart_tech_list"><i class="fa fa-arrow-circle-o-right"></i>Identifying the positive and negative connotations of your brand</li>
                           <li class="smart_tech_list"><i class="fa fa-arrow-circle-o-right"></i>Removal of all malicious and abusive reviews</li>
                           <li class="smart_tech_list"><i class="fa fa-arrow-circle-o-right"></i>Correcting or deleting erroneous information</li>
                           <li class="smart_tech_list"><i class="fa fa-arrow-circle-o-right"></i>PR efforts to increase your reputation through positive press</li>
                           <li class="smart_tech_list"><i class="fa fa-arrow-circle-o-right"></i>Strategic publication of positive reviews and recommendations</li>
                           <li class="smart_tech_list"><i class="fa fa-arrow-circle-o-right"></i>Continuous monitoring and analysis of your online reputation</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid how_do">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h3 class="smart_tech_head fade-in-down">FAQ</h3>
                     <div class="faq" id="accordion">
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-1" style="opacity: 1; visibility: visible; transform: translateX(0px);">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                    <span class="badge">1</span>How can your ORM services enhance the reputation of my brand?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                              <div class="card-body">
                                 <p>As a leading ORM company in Chennai, we create value by identifying and communicating with your customer's emotions.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-2" style="opacity: 1; visibility: visible; transform: translateX(0px);">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                    <span class="badge">2</span>When will the results of your ORM services become apparent?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                              <div class="card-body">
                                 <p>The time frame for our ORM services to work in your favor is subjective. Depending on your brand's current online reputation, it could take weeks or months.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-3" style="opacity: 0; visibility: hidden; transform: translateX(50px);">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                    <span class="badge">3</span>How will your ORM solutions respond to unfavourable online reviews?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                              <div class="card-body">
                                 <p>As a leading ORM service provider, we remove reviews that violate the Terms of Service. When reviews comply with our TOS, we encourage the person concerned to remove or update a negative review.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-4" style="opacity: 0; visibility: hidden; transform: translateX(50px);">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                    <span class="badge">4</span>How do search engines affect my online reputation?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                              <div class="card-body">
                                 <p>Search engines can make or break a company's online reputation. They discourage users from visiting a website with adverse information or reviews.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-5" style="opacity: 0; visibility: hidden; transform: translateX(50px);">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                    <span class="badge">5</span>Can all negative reviews on the website be deleted?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                              <div class="card-body">
                                 <p>Unfortunately, no. Although the web admin can be requested to remove negative reviews, it is not possible to remove them altogether.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-6" style="opacity: 0; visibility: hidden; transform: translateX(50px);">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="false" data-aria-controls="faqCollapse-6">
                                    <span class="badge">6</span>How can you help my website with this concern?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
                              <div class="card-body">
                                 <p>Our ORM services aim to remove negative reviews and protect your business's reputation. We do this by promoting positive words about your business.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-7" style="opacity: 0; visibility: hidden; transform: translateX(50px);">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                                    <span class="badge">7</span> In what ways would your ORM services help my brand and company?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
                              <div class="card-body">
                                 <p>Grownotch ORM services aim to build a positive reputation by removing harmful and outdated content from your website. Our strategies improve your SEO results and put a positive spin on your website.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-8" style="opacity: 0; visibility: hidden; transform: translateX(50px);">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-8" data-aria-expanded="false" data-aria-controls="faqCollapse-8">
                                    <span class="badge">8</span> Need online reputation management?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-8" class="collapse" aria-labelledby="faqHeading-8" data-parent="#accordion">
                              <div class="card-body">
                                 <p>Of course! Negative reviews or false accusations can significantly damage your business's reputation and affect your sales. And that's why we focus so much on increasing your transparency and resolving customer complaints.</p>
                              </div>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-header fade-in-right" id="faqHeading-9" style="opacity: 0; visibility: hidden; transform: translateX(50px);">
                              <div class="mb-0">
                                 <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-9" data-aria-expanded="false" data-aria-controls="faqCollapse-9">
                                    <span class="badge">9</span> What is the value of managing my company's online reputation?
                                 </h5>
                              </div>
                           </div>
                           <div id="faqCollapse-9" class="collapse" aria-labelledby="faqHeading-9" data-parent="#accordion">
                              <div class="card-body">
                                 <p>Negative complaints and reviews can damage your business's online reputation and affect sales and customer retention. Our services ensure that we remove all negative aspects from your website.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid project_call">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <h3 class="project_call_head">Have a project for us? <span class="project_call_clr"> Call us now! </span></h3>
                  </div>
                  <div class="col-md-6">
                     <div class="project_call_btn">
                        <a class="project_call_link" href="tel:+919003610066"><i class="fa fa-phone call_icon"></i>+91 90036 10066</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid footer">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <img class="header_logo" src="../static/image/grownotch.svg">
                     <p></p>
                     <p class="footer_para">Grownotch Digital Marketing Company provides modern and effective SEO and Web Development services in Chennai, India. We are a reputable company for SEO services in Chennai and believe in providing quality SEO services.</p>
                  </div>
                  <div class="col-md-3">
                     <h3 class="footer_hd">Services</h3>
                     <ul class="footer_order">
                        <li class="footer_list"><a class="footer_list_link" href="digital-marketing.html">Digital Marketing Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="search-engine-optimization.html">Search Engine Optimization</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="local-seo.html">Local SEO Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="content-writing.html">Content Writing Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="online-reputation-management.html">ORM Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="web-design.html">Web Design Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="social-media-marketing.html">SMM Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="pay-per-click-marketing.html">PPC Marketing</a></li>
                     </ul>
                  </div>
                  <div class="col-md-3 ft3">
                     <h3 class="footer_hd">Resources</h3>
                     <ul class="footer_order">
                        <li class="footer_list"><a class="footer_list_link" href="index.html">Home</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="aboutus.html">About Us</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="testmonials.html">Testimonials</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="contactus.html">Contact Us</a></li>
                     </ul>
                  </div>
                  <div class="col-md-3 ft4">
                     <h3 class="footer_hd">Reach Us</h3>
                     <p class="footer_reach"><i class="fa fa-map-marker ft_icon"></i>Chennai, Tamilnadu, India.</p>
                     <p class="footer_reach"><a class="ft_numbers" href="tel:+919003610066"><i class="fa fa-phone ft_icon"></i>+91 90036 10066</a></p>
                     <p class="footer_reach"><a class="ft_mail" href="mailto:info@grownotch.com"><i class="fa fa-envelope-o ft_icon"></i>info@grownotch.com</a></p>
                  </div>
               </div>
            </div>
            <div class="container footer2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="copy_weblogicks">
                        <p class="copys_para">
                           Copyright © <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>. All Rights Reserved By <a href="https://grownotch.com/">Grownotch.com</a>
                        </p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="ft_social">
                        <ul class="footer_social">
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.facebook.com/Grownotch" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://twitter.com/grownotch" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.instagram.com/grownotch/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://in.pinterest.com/grownotch/_saved/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.reddit.com/user/Grownotch" target="_blank"><i class="fa fa-reddit"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://linkedin.com/company/grownotch" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="sticky1"><a data-google-event-name="grownotch" data-facebook-event-name="grownotch" target="_blank" title="Contact Us On WhatsApp" href="https://api.whatsapp.com/send?phone=+919003610066&text=Hi,%20i%20saw%20your%20website(www.grownotch.com),%20I%20would%20like%20know%20more%20information%20about%20your%20service." class="wc2c-wrap wc2c-floating-circle-right" style="background-color:#2DC100">
         <i class="fa fa-whatsapp whatsappimg" aria-hidden="true"></i></a>
      </div>
      <div class="cp-widget-button">
         <div data-brand-color="background" class="cp-widget-button__inner">
            <a href="tel:+919003610066"><i class="fa fa-phone strickes"></i></a>
         </div>
      </div>
      <script>
         //Change pos/background/padding/add shadow on nav when scroll event happens 
         $(function(){
         	var navbar = $('.navbar');
         	
         	$(window).scroll(function(){
         		if($(window).scrollTop() <= 40){
         			navbar.removeClass('navbar-scroll');
         		} else {
         			navbar.addClass('navbar-scroll');
         		}
         	});
         });
         
                 
      </script>
      <style>
         .form-control {
         color: #fff !important;
         border: 1px solid #fff !important;
         }
         .form-control:focus {
         border-color: #fff !important;
         }
         .form-control::-moz-placeholder {
         color: #fff !important;
         opacity: 1;
         }
         .form-control:-ms-input-placeholder {
         color: #fff !important;
         }
         .form-control::-webkit-input-placeholder {
         color: #fff !important;
         }
      </style>
   </body>
</html>