<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href=""/>
      <meta name="robots" content="index, follow" >
      <title>Testmonials - Grownotch</title>
      <meta name="description" content=""/>
      <meta name="keywords" content=""/>
      <link rel="canonical" href="https://grownotch.com/testmonials.html"/>
      <link rel="stylesheet" href="../static/css/home/bootstrap-min.css">
      <script src="../static/css/home/bootstrap-jquery-index.js"></script>
      <script src="../static/css/home/bootstrap-min.js"></script>
        <link rel="stylesheet" href="../static/css/home/font-aswesome.css">
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/css/mediascreen.css">
      <script src="../static/js/animations-new.js"></script>
      <link href="../static/css/home/font.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">
                  <img class="header_logo" src="../static/image/grownotch.svg">
               </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav left-side">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="aboutus.html">About Us</a></li>
                  <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li class="drop_list"><a class="drop_link" href="digital-marketing.html">Digital Marketing</a></li>
                        <li class="drop_list"><a class="drop_link" href="search-engine-optimization.html">Search Engine Optimization</a></li>
                        <li class="drop_list"><a class="drop_link" href="local-seo.html">Local SEO</a></li>
                        <li class="drop_list"><a class="drop_link" href="content-writing.html">Content Writing</a></li>
                        <li class="drop_list"><a class="drop_link" href="online-reputation-management.html">ORM</a></li>
                        <li class="drop_list"><a class="drop_link" href="web-design.html">Web Design</a></li>
                        <li class="drop_list"><a class="drop_link" href="social-media-marketing.html">SMM</a></li>
                        <li class="drop_list"><a class="drop_link" href="pay-per-click-marketing.html">PPC Marketing</a></li>
                     </ul>
                  </li>
                  <li><a class="active" href="testmonials.html">Testimonials</a></li>
                  <li><a href="contactus.html">Contact Us</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li class="number_list">
                     <a class="num_linkz" href="tel:+919003610066">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        <div class="right-phone"> Ask me 1 question <span class="top_number"> +91 90036 10066</span> </div>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="container-fluid local_seo">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h2 class="local_seo_banner_hd">SEO Inc Reviews and Client Testimonials</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid client_testmonial">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <!-- <h1 class="client_testmonial_head fade-in-down">Client Testimonials</h1> -->
                     <p class="client_testmonial_para">I enjoyed working with the SEO Freelancer in Chennai from Grownotch and am pleased with the results. The Freelancer helped me improve my website's search engine ranking and increase organic traffic to my site. Their deep understanding of SEO and digital marketing helped me optimize my website's content, meta tags, and backlinks.</p> 
                     <p class="client_testmonial_para"> They were professional and responsive and always provided detailed reports to track progress. I highly recommend the SEO Freelancer in Chennai from Grownotch.com to anyone looking for expert SEO services.</p>
                     <p class="client_testmonial_para">Call us now at +91 90036 10066 before you make any decision on hiring a Search Engine Optimization!</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid reviews_sec">
         <div class="row">
            <main class="main">
               <section class="container testmo_review">
                  <h3 class="testmonials_hd fade-in">OUR CLIENT'S TESTIMONIALS</h3>
                  <article class="review">
                     <div class="img-container">
                        <img src="../static/image/home/review1.webp" alt="Grownotch" id="person-img" />
                     </div>
                     <h4 id="author">sara jones</h4>
                     <p id="job">ux designer</p>
                     <p id="info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                        asperiores debitis incidunt, eius earum ipsam cupiditate libero?
                        Iste, doloremque nihil?
                     </p>
                     <!-- prev next buttons-->
                     <div class="button-container">
                        <button class="prev-btn btn">
                        <i class="fa fa-arrow-left review_icon"></i>
                        </button>
                        <button class="next-btn btn">
                        <i class="fa fa-arrow-right review_icon"></i>
                        </button>
                     </div>
                  </article>
               </section>
            </main>
         </div>
      </div>
      <script src="../static/js/reviews.js"></script>
      <div class="container-fluid collaborate">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <h4 class="collaborate_subhead">LET'S STRATEGIZE</h4>
                     <h2 class="collaborate_head fade-in-down"><span class="colored"> Ready to Collaborate? Get in Touch</span></h2>
                     <p class="collaborate_para">Collaboration is at the heart of what we do at GrowNotch. We work closely with our clients to understand their needs and provide customized solutions. Let's join forces to take your business to the next level. Contact us today to start collaborating and achieve your business goals.</p>
                     <div class="strategize">
                        <p class="strategize_para"><a class="strategize_link" href="mailto:info@grownotch.com"><i class="fa fa-envelope-o strategize"></i>Email: <span class="__cf_email__" data-cfemail="5122303d34221122343e383f327f323e3c">info@grownotch.com</span></a></p>
                        <p class="strategize_para"><a class="strategize_link" href="tel:+919003610066"><i class="fa fa-phone strategize"></i>Call: +91 90036 10066</a></p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="home_form">
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                           <ul class="form_under">
                              <li class="form_list">
                                 <div class="form_inputs">
                                    <input class="form-control" type="text" placeholder="Name" name="name" autocomplete="off" required>
                                 </div>
                              </li>
                              <li class="form_list">
                                 <div class="form_inputs">
                                    <input class="form-control" type="number" placeholder="Contact Number" name="phone" autocomplete="off" required>
                                 </div>
                              </li>
                              <li class="form_list">
                                 <div class="form_inputs">
                                    <input class="form-control" type="email" placeholder="Email Address" name="email" autocomplete="off" required>
                                 </div>
                              </li>
                              <li class="form_list">
                                 <div class="form_inputs">
                                    <input class="form-control" type="text" placeholder="Website URL" name="website" autocomplete="off">
                                 </div>
                              </li>
                              <div class="form-group">
                                 <textarea class="form-control" rows="5" placeholder="Write Your question here " name="messagedetails"></textarea>
                              </div>
                              <h5 class="what_need">What do you need?</h5>
                              <div class="w-layout-grid form-grid-thirds">
                                 <div>
                                    <div class="custom-control custom-checkbox mb-3">
                                       <input value="SEO" type="checkbox" class="custom-control-input" id="customCheck" name="check1">
                                       <label class="custom-control-label" for="customCheck">SEO</label>
                                    </div>
                                 </div>
                                 <div>
                                    <div class="custom-control custom-checkbox mb-3">
                                       <input value="Social media marketing" type="checkbox" class="custom-control-input" id="customCheck" name="check2">
                                       <label class="custom-control-label" for="customCheck">Social media marketing</label>
                                    </div>
                                 </div>
                                 <div>
                                    <div class="custom-control custom-checkbox mb-3">
                                       <input value="Google adwords" type="checkbox" class="custom-control-input" id="customCheck" name="check3">
                                       <label class="custom-control-label" for="customCheck">Google adwords</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                       <input value="Website" type="checkbox" class="custom-control-input" id="customCheck" name="check4">
                                       <label class="custom-control-label" for="customCheck">Website</label>
                                    </div>
                                 </div>
                              </div>
                           </ul>
                           <div class="text-center sub">
                              <input type="submit" class="sub" value="SUBMIT">
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid project_call">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <h3 class="project_call_head">Have a project for us? <span class="project_call_clr"> Call us now! </span></h3>
                  </div>
                  <div class="col-md-6">
                     <div class="project_call_btn">
                        <a class="project_call_link" href="tel:+919003610066"><i class="fa fa-phone call_icon"></i>+91 90036 10066</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <div class="container-fluid footer">
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <img class="header_logo" src="../static/image/grownotch.svg">
                     <p></p>
                     <p class="footer_para">Grownotch Digital Marketing Company provides modern and effective SEO and Web Development services in Chennai, India. We are a reputable company for SEO services in Chennai and believe in providing quality SEO services.</p>
                  </div>
                  <div class="col-md-3">
                     <h3 class="footer_hd">Services</h3>
                     <ul class="footer_order">
                        <li class="footer_list"><a class="footer_list_link" href="digital-marketing.html">Digital Marketing Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="search-engine-optimization.html">Search Engine Optimization</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="local-seo.html">Local SEO Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="content-writing.html">Content Writing Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="online-reputation-management.html">ORM Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="web-design.html">Web Design Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="social-media-marketing.html">SMM Services</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="pay-per-click-marketing.html">PPC Marketing</a></li>
                     </ul>
                  </div>
                  <div class="col-md-3 ft3">
                     <h3 class="footer_hd">Resources</h3>
                     <ul class="footer_order">
                        <li class="footer_list"><a class="footer_list_link" href="index.html">Home</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="aboutus.html">About Us</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="testmonials.html">Testimonials</a></li>
                        <li class="footer_list"><a class="footer_list_link" href="contactus.html">Contact Us</a></li>
                     </ul>
                  </div>
                  <div class="col-md-3 ft4">
                     <h3 class="footer_hd">Reach Us</h3>
                     <p class="footer_reach"><i class="fa fa-map-marker ft_icon"></i>Chennai, Tamilnadu, India.</p>
                     <p class="footer_reach"><a class="ft_numbers" href="tel:+919003610066"><i class="fa fa-phone ft_icon"></i>+91 90036 10066</a></p>
                     <p class="footer_reach"><a class="ft_mail" href="mailto:info@grownotch.com"><i class="fa fa-envelope-o ft_icon"></i>info@grownotch.com</a></p>
                  </div>
               </div>
            </div>
            <div class="container footer2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="copy_weblogicks">
                        <p class="copys_para">
                           Copyright © <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>. All Rights Reserved By <a href="https://grownotch.com/">Grownotch.com</a>
                        </p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="ft_social">
                        <ul class="footer_social">
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.facebook.com/Grownotch" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://twitter.com/grownotch" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.instagram.com/grownotch/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://in.pinterest.com/grownotch/_saved/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://www.reddit.com/user/Grownotch" target="_blank"><i class="fa fa-reddit"></i></a></li>
                           <li class="footer_social_list drop-bounce"><a class="footer_social_link" href="https://linkedin.com/company/grownotch" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="sticky1"><a data-google-event-name="grownotch" data-facebook-event-name="grownotch" target="_blank" title="Contact Us On WhatsApp" href="https://api.whatsapp.com/send?phone=+919003610066&text=Hi,%20i%20saw%20your%20website(www.grownotch.com),%20I%20would%20like%20know%20more%20information%20about%20your%20service." class="wc2c-wrap wc2c-floating-circle-right" style="background-color:#2DC100">
         <i class="fa fa-whatsapp whatsappimg" aria-hidden="true"></i></a>
      </div>
      <div class="cp-widget-button">
         <div data-brand-color="background" class="cp-widget-button__inner">
            <a href="tel:+919003610066"><i class="fa fa-phone strickes"></i></a>
         </div>
      </div>
      <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
         //Change pos/background/padding/add shadow on nav when scroll event happens 
         $(function(){
         	var navbar = $('.navbar');
         	
         	$(window).scroll(function(){
         		if($(window).scrollTop() <= 40){
         			navbar.removeClass('navbar-scroll');
         		} else {
         			navbar.addClass('navbar-scroll');
         		}
         	});
         });
         
                 
      </script>
   </body>
</html>